
h2{paddin-left:10px; margin:10px; font-size:35px}
h1{
  text-align: center; font-size: 50px; color:green;
  border-bottom: 1px solid gray; margin:0px; padding:20px;
  padding-right:50px; padding-left: 50px;
          }
a {text-decoration:none;
}
ul{ border-right: 1px solid gray; padding:20px; margin:0px;
font-size: 20px; padding-left:30px; padding-bottom: 200px;
}
p{
padding-left:20px; font-size: 25px; display:block;

}
body{margin:0px;}
a:visited{ color: pink; }
a:link{ color:gray; }
#grid{
display:grid; grid-template-columns: 180px 1fr;
}
#aaa{border-top: 1px solid gray; margin:0px;}

@media(max-width:600px){
#grid{display:block;}
ul{border-right:none; padding-bottom:0px;}
#aaa{border-top:none; }
h1{border-bottom:none;}
}
